In [13]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [14]:
cols = ['sepal length', 'sepal width', 'petal length', 'petal width', 'class']
df = pd.read_csv('datasets/iris.data', names=cols)
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['class'] = le.fit_transform(df['class'])
df

     sepal length  sepal width  petal length  petal width  class
0             5.1          3.5           1.4          0.2      0
1             4.9          3.0           1.4          0.2      0
2             4.7          3.2           1.3          0.2      0
3             4.6          3.1           1.5          0.2      0
4             5.0          3.6           1.4          0.2      0
..            ...          ...           ...          ...    ...
145           6.7          3.0           5.2          2.3      2
146           6.3          2.5           5.0          1.9      2
147           6.5          3.0           5.2          2.0      2
148           6.2          3.4           5.4          2.3      2
149           5.9          3.0           5.1          1.8      2

[150 rows x 5 columns]

In [17]:
X = df.iloc[:,:-1].values
y = df.iloc[:, -1].values

In [18]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
pca = PCA(n_components=2)
pComponent = pca.fit_transform(X)
pDF = pd.DataFrame(data=pComponent, columns=['PC1', 'PC2'])
df = pd.concat([pDF, df[['class']]], axis=1)
df

          PC1       PC2  class
0   -2.264542  0.505704      0
1   -2.086426 -0.655405      0
2   -2.367950 -0.318477      0
3   -2.304197 -0.575368      0
4   -2.388777  0.674767      0
..        ...       ...    ...
145  1.870522  0.382822      2
146  1.558492 -0.905314      2
147  1.520845  0.266795      2
148  1.376391  1.016362      2
149  0.959299 -0.022284      2

[150 rows x 3 columns]

In [19]:
pca.explained_variance_ratio_

array([0.72770452, 0.23030523])

In [20]:
pca = PCA(n_components=3)
pComponent = pca.fit_transform(X)
pDF = pd.DataFrame(data=pComponent, columns=['PC1', 'PC2', 'PC3'])
df2 = pd.concat([pDF, df[['class']]], axis=1)
df2

          PC1       PC2       PC3  class
0   -2.264542  0.505704 -0.121943      0
1   -2.086426 -0.655405 -0.227251      0
2   -2.367950 -0.318477  0.051480      0
3   -2.304197 -0.575368  0.098860      0
4   -2.388777  0.674767  0.021428      0
..        ...       ...       ...    ...
145  1.870522  0.382822  0.254532      2
146  1.558492 -0.905314 -0.025382      2
147  1.520845  0.266795  0.179277      2
148  1.376391  1.016362  0.931405      2
149  0.959299 -0.022284  0.528794      2

[150 rows x 4 columns]

In [21]:
pca.explained_variance_ratio_

array([0.72770452, 0.23030523, 0.03683832])